<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mark Sheet</title>
</head>
<body>
<h1>Student Mark Sheet</h1>
<table>
    <tr>
        <th>Student Name:</th>
        <td th:text="${student.name}"></td>
    </tr>
    <tr>
        <th>Parent Name:</th>
        <td th:text="${student.parent.name}"></td>
    </tr>
    <tr>
        <th>Email Address:</th>
        <td th:text="${student.parent.emailAddress}"></td>
    </tr>
    <tr>
        <th>Subjects</th>
        <th>Marks</th>
    </tr>
    <tr th:each="subjectMark : ${student.subjectMarks}">
        <td th:text="${subjectMark.subjectName}"></td>
        <td th:text="${subjectMark.mark}"></td>
    </tr>
</table>
</body>
</html>
